/*Début CSS général*/
* {
    padding: 0;
    margin: 0;
}

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    background-color: #f7f7f7;
}
a {
    text-decoration: none;
    font-size: 1vw;
}

p {
    font-size: 1vw;
}

h1 {
    font-size: 3vw;
}

h2 {
    font-size: 2vw;
}
/*Fin CSS général*/

/*Début du Header*/


/*Fin du Header*/

/*Début Body*/

    
/*Fin du Body*/

/*Début du Footer*/


/*Fin du Footer*/